*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
input/audio_hindi_tony_stark.mp3 filter=lfs diff=lfs merge=lfs -text
input/audio/audio_hindi_tony_stark.mp3 filter=lfs diff=lfs merge=lfs -text
input/audio/harvard.wav filter=lfs diff=lfs merge=lfs -text
input/audio/processed_tony_stark.mp3 filter=lfs diff=lfs merge=lfs -text
input/audio/sample_male_audio.mp3 filter=lfs diff=lfs merge=lfs -text
input/harvard.wav filter=lfs diff=lfs merge=lfs -text
input/image/images.jpg filter=lfs diff=lfs merge=lfs -text
input/image/portrait-young-confident-handsome-businessman-blue-red-light.jpg filter=lfs diff=lfs merge=lfs -text
input/image/young-model-casual-fall-winter-outfits.jpg filter=lfs diff=lfs merge=lfs -text
input/portrait-young-confident-handsome-businessman-blue-red-light.jpg filter=lfs diff=lfs merge=lfs -text
input/processed_tony_stark.mp3 filter=lfs diff=lfs merge=lfs -text
input/processed_tony_stark.mp4 filter=lfs diff=lfs merge=lfs -text
input/tony_2.mp4 filter=lfs diff=lfs merge=lfs -text
input/tony_stark.mp4 filter=lfs diff=lfs merge=lfs -text
input/video/man_sample1_green_screen.mp4 filter=lfs diff=lfs merge=lfs -text
input/video/tony_2.mp4 filter=lfs diff=lfs merge=lfs -text
input/young-model-casual-fall-winter-outfits.jpg filter=lfs diff=lfs merge=lfs -text
results/output_image_video.mp4 filter=lfs diff=lfs merge=lfs -text
results/output_lipsynced.mp4 filter=lfs diff=lfs merge=lfs -text
results/output_tony_howard.mp4 filter=lfs diff=lfs merge=lfs -text
results/output_video_green_screen.mp4 filter=lfs diff=lfs merge=lfs -text
results/output_video.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_14c740551950bab2.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_8d8eccddd8fe1694.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_be9149db044ae463.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_c5fbd07c81197985.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_ea00d0588539fef5.mp4 filter=lfs diff=lfs merge=lfs -text
results/result_voice.mp4 filter=lfs diff=lfs merge=lfs -text
temp/result.avi filter=lfs diff=lfs merge=lfs -text
temp/temp_audio.wav filter=lfs diff=lfs merge=lfs -text
