addict
audioread
basicsr
beautifulsoup4
click
facexlib
ffmpeg
filelock
filterpy
Flask
future
gdown
idna
imageio
importlib-metadata
itsdangerous
Jinja2
joblib
librosa
lmdb
Markdown
MarkupSafe
matplotlib
msgpack
networkx
numpy
numba
oauthlib
mkl-service
opencv-contrib-python
opencv-python
Pillow
protobuf
PyWavelets
PyYAML
requests
resampy
scikit-image
scikit-learn
scipy
soupsieve
torch
torchaudio
torchvision
tqdm
typing_extensions
urllib3
Werkzeug
wget
yapf
zipp
gunicorn